.loading-container {
    text-align: center;
}
.loading-message {
    font-size: 18px;
    color: #333;
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 15px auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Wrap the items to next line if there's not enough space */
    gap: 20px; /* Add space between the note divs */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

.note {
    flex: 0 0 calc(10% - 20px); /* Set flex basis to 50% minus the gap */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    max-width: 30%;
}

.note h3 {
    margin: 0 0 10px 0;
}

.note p {
    margin: 5px 0;
}

.note em {
    font-style: italic;
    color: #207c9e;
}

.note a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.note .short-url-icon {
    /* Adjust font size, color, etc. as needed */
}


.sidebar {
    display: none; 
    visibility: hidden;
    width: 20%; /* Set the width of the sidebar */
    padding: 20px;
    background-color: #f9f9f9;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #007BFF;
}